/*** Start The Frist Color Theme **/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu .divider,
.carousel-indicators li.active ,
.subscribe .btn-danger,
.subscribe .btn-danger:focus
{
    background-color:#ce4642;
}

.navbar-inverse .navbar-brand span,
.testimonial .item span ,
.footer .copyright span,
.glyphicon,
.footer h3 
{
    color:#ce4642;
}

.price-table .price-box:hover p,
.carousel-text li 
{ border: 1px solid #ce4642;} 


.dropdown-menu {
    border-top: 1.5px solid #ce4642;
}

.form .form-control {
    background:rgba(9, 9, 9, .3);
}
